
nav{
    background-color: brown;
    height: 50px;
}
nav ul {
    text-align: center;
}
nav ul li{
    display: inline-block;
    padding: 15px 25px;
}
nav ul li.activ, nav ul li:hover{
    background-color: red;
}
nav ul li a{
    color: #fff;
    font-size: 16px;
}

.submeniu{ 
    display: none;
    margin: left -25px;
    margin-top: 12px;
    padding-left:10px;
}
.submeniu li{
    display: list-item;
    list-style: none;
   
}
nav ul li:hover .submeniu{
    display: block;
    position: absolute;
    background-color: sienna;
    
}